{% extends 'base.html' %}

{% block title %}Display Jobs{% endblock %}

{% block content %}
    <a href="{{ url_for('my_home') }}">Return to Home</a>
    <h1>Jobs Table</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Posted</th>
                <th>Updated</th>
                <th>Company</th>
                <th>Title</th>
                <th>Season</th>
                <th>Sponsorship</th>
                <th>Active</th>
                <th>Locations</th>
                <th>URL</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job[0] }}</td>
                <td>{{ job[1] }}</td>
                <td>{{ job[2] }}</td>
                <td>{{ job[3] }}</td>
                <td>{{ job[4] }}</td>
                <td>{{ job[5] }}</td>
                <td>{{ job[6] }}</td>
                <td>{{ job[7] }}</td>
                <td>{{ job[8] }}</td>
                <td><a href="{{ job[9] }}" target="_blank">Link</a></td>
                <td>
                    <form action="{{ url_for('add_application', job_id=job[0]) }}" method="post" onsubmit="saveScrollPosition()">
                        <button type="submit">Applied</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Save scroll position to local storage before form submission
        function saveScrollPosition() {
            localStorage.setItem('scrollPosition', window.scrollY);
        }

        // Restore scroll position after page load
        window.onload = function() {
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition));
                localStorage.removeItem('scrollPosition'); // Clear the saved position
            }
        };
    </script>
{% endblock %}
