{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Home</h2>
        <div class="grid-container">
            <div class="grid-item"><a href="{{ url_for('display_jobs') }}">View Jobs</a></div>
            <div class="grid-item"><a href="{{ url_for('show_applications') }}">View Applications</a></div>
            <div class="grid-item"><a href="{{ url_for('chat') }}">Mock Behavioral Interview Practice</a></div>
            <div class="grid-item"><a href="{{ url_for('leetcode') }}">LeetCode Problem Tracker</a></div>
        </div>
    </div>
{% endblock %}
