{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Home</h2>
    <ul>
        <li><a href="{{ url_for('display_jobs') }}">View Jobs</a></li>
        <li><a href="{{ url_for('show_applications') }}">View Applications</a></li>
        <li><a href="{{ url_for('chat') }}">Mock Behavioral Interview Practice</a></li> <!-- Add this line -->
        <li><a href="{{ url_for('show_progress') }}">Leetcode Tracker</a></li> <!-- Add this line -->

    </ul>
{% endblock %}

